h1, h2, h3, h4 , h5 , h5 {
    font-family: Arial, Helvetica, sans-serif;
}
 
     
 
  body {
background-color: rgb(255, 240, 221);    margin-top: 10px;
  }
    

  h1 {
    text-align: center;
    margin-top :15px ;
  }


 a:hover{
    color: rgb(216, 25, 25);
}


table, th, td , tr {
  border: 0.5px solid rgb(252, 113, 113);
  background-color: rgb(255, 251, 251);
  margin-top: 19px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;

}

form {
  background-color: rgb(231, 147, 147);
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

div {
  text-align: center;
}

h1  {
  background-color: gold;
  background-size: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}