h1, h2, h3, h4 , h5 , h5 {
    font-family: 'Yellowtail', cursive;
}
p {
    background: rgba(179, 167, 169, 0.3);
    border: 2px solid rgb(255,84,104);
    padding: 10px;
    margin: 10px;
  }

  body {
    width: 500px;
    margin: 0 auto;
  }
  