 body {
        font-family: 'Alegreya', serif;
       background-image: url(https://t4.ftcdn.net/jpg/03/70/49/87/360_F_370498716_dLsaHESFAHnEV3a6aOqXTBV6fvslMgGq.jpg);
 }

h2 {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: medium;
}
 ul,li  {
     background-color: rgb(233, 224, 224);
    color: brown;
     margin-top: 19px;
     font-family: "Lucida Console", "Courier New", monospace;

    
 }


 h1  {
    background-image: url(https://images.photowall.com/products/62913/white-and-pink-marble.jpg?h=699&q=85);
    background-size: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

div > p  {
    display: inline;
    margin-left: 480px;
    margin-top: 20px;
    background-color: rgb(255, 217, 121);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
   

}
 

ol {
    color:rgb(255, 75, 108) ;
    font-family: Fantasy, 'Papyrus';

}
img {
    margin-top: 50px;

    margin-left: 400px;
}


